{% extends 'global/base.html' %}

{% block content %}
  <div class="form-wrapper">

    <h2>Parabéns {{user}} por plantar uma nova árvore</h2>

    <form 
      action="{% url "tree:create_tree" %}"
      method="POST"
      enctype="multipart/form-data"
    >
    {% csrf_token %}
    <div>
    {% for item in form %}
        <div class="form-content">
            <div class="form-group">
              <label for="id_first_name">{{item.name}}</label>
                  {{ item }}
                  {{item.erros}}
            </div>
          </div>
          </div> 
        {% endfor %}
      </div>
      <div>
        {% for form in formset %}
        <div class="form-content">
            <div class="form-group">
              <label for="id_first_name">{{form.name}}</label>
                  {{ form }}
            </div>
          </div>
          </div> 
        {% endfor %}
      </div>
        <div class="form-content">
            <div class="form-group">
              <button class="btn" type="submit">Plantar</button>
            </div>
    </form>
  </div>

{% endblock content %}